div.addTask {
    padding-top: 50px;
}

div.addTask input {
    border: 2px solid rgb(156, 233, 156);
    box-shadow: 1px 0 2px rgb(156, 233, 156);
    background-color: #006600;
    color: white;
    width: 300px;
    margin-right: 50px;
    margin-left: 150px;
    height: 30px;
    padding-left: 5px;
}

::-webkit-input-placeholder {
    color: white;
    text-align: center;
}

div.addTask button.addTask {
    border: 2px solid rgb(156, 233, 156);
    box-shadow: 1px 0 2px rgb(156, 233, 156);
    background-color: #006600;
    color: white;
    width: 150px;
    height: 35px;
    font-size: 17px;
}

div.taskList h3.TaskListTitle {
    margin: 30px;
    color: white;
}

div.Task {
    border: 2px solid rgb(156, 233, 156);
    box-shadow: 1px 0 2px rgb(156, 233, 156);
    background-color: #006600;
    color: white;
    width: 60vw;
    margin: 0 auto;
}